body {
  margin: 0;
  padding: 0;
}

nav{
    display: flex;
}

.shadow-modal{
  position: absolute;
  margin-top:-7.5%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.651);
  padding-top: 20px;
}
.form-style{
  background-color: #fff;
  width: 500px;
  height: 500px;
  margin: auto;
  padding: 10px;
  
}
form > input,fieldset{
  display: block;
  width:90%;
  margin:auto;
  margin-bottom:10px;
}
.form-style > h3{
  text-align: center;
}
.btn-cerrar{
  display: block;
  margin-left: 95%;
}